# ignore Eclipse project file
.project

# IntelliJ IDEA (IDE) project files
.idea
.gradle
# IntelliJ IDEA modules file
/scrabble15.iml
# IntelliJ IDEA output files
/out
/bin/

# Database file
resources/scrabble/db/Scrabble15.db
