#root {
  -fx-background-color: rgb(100,100,100);
  /*-fx-border-color: #783F04;*/
  /*-fx-border-width: 13;*/
}

/* Side Bar */
#side-panel {
  -fx-background-color: rgb(220,220,220);
  -fx-background-radius: 7px;
  -fx-border-radius: 7px;
}

#exit-btn {
  -fx-border-color: black;
  -fx-background-color: crimson;
  -fx-font-weight: bold;
  -fx-font-size: 12px;
  -fx-text-alignment: center;
  -fx-text-fill: black;
  -fx-opacity: 1;
}

#exit-btn:hover {
  -fx-cursor: hand;
  -fx-opacity: 0.6;
}

#time-block {
  /*-fx-background-color: orange;*/
}

#players-block {
  /*-fx-background-color: #ffbf70;*/
}

.players-score {
  -fx-font-weight: bold;
  -fx-font-size: 15px;
}

#chat-block {
  /*-fx-background-color: #ffdca7;*/
}


/* Game Block (Grid) */
#main-block {
  /*-fx-background-color: red;*/
}

#grid-wrapper {
  /*-fx-background-color: blue;*/
  -fx-padding: 0 10px 0 0;
}

#game-block {
  -fx-alignment: center;
  /*-fx-grid-lines-visible: true;*/
  -fx-background-color: ANTIQUEWHITE;
  -fx-background-radius: 7px;
}

.valid-word {
  -fx-border-radius: 7px;
  -fx-border-color: green;
  -fx-border-width: 5px;
  -fx-background-radius: 7px;
  -fx-background-color: rgba(0, 0, 0, 0);;
}

.invalid-word {
  -fx-border-radius: 7px;
  -fx-border-color: crimson;
  -fx-border-width: 5px;
  -fx-background-radius: 7px;
  -fx-background-color: rgba(0, 0, 0, 0);
}

.word-points-label {
  -fx-border-radius: 12px;
  -fx-border-color: green;
  -fx-border-width: 3px;
  -fx-background-radius: 12px;
  -fx-background-color: whitesmoke;
  -fx-text-fill: green;
  -fx-font-size: 15px;
  -fx-font-weight: bold;
  -fx-alignment: center;
  -fx-min-width: 25px;
  -fx-max-width: 25px;
  -fx-min-height: 25px;
  -fx-max-height: 25px;
  -fx-padding: -5px;
}

.word-points-label-invalid {
  -fx-border-radius: 12px;
  -fx-border-color: crimson;
  -fx-border-width: 3px;
  -fx-background-radius: 12px;
  -fx-background-color: whitesmoke;
  -fx-text-fill: crimson;
  -fx-font-size: 15px;
  -fx-font-weight: bold;
  -fx-alignment: center;
  -fx-min-width: 25px;
  -fx-max-width: 25px;
  -fx-min-height: 25px;
  -fx-max-height: 25px;
  -fx-padding: -5px;
}

.slot {
  -fx-border-radius: 7px;
  -fx-background-radius: 7px;
  -fx-border-color: darkgray;
  -fx-background-color: lightgray;
  -fx-opacity: 1;
}

.slot:hover {
  -fx-opacity: 0.8;
}

.slot-on-drag-entered {
  -fx-background-color: green;
}

.slot-dl {
  -fx-background-color: #66CCFF;
}

.slot-tl {
  -fx-background-color: #0099FF;
}

.slot-dw {
  -fx-background-color: #ffa200;
}

.slot-tw {
  -fx-background-color: #ff4800;
}

.slot > Label {
  -fx-font-weight: bold;
}

.popup-error-block {
  -fx-border-radius: 7px;
  -fx-background-radius: 7px;
  -fx-background-color: rgba(100, 100, 100, 0.5);
}

.popup-error-message {
  -fx-border-width: 3px;
  -fx-border-color: #ff3300;
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;
  -fx-background-color: #5d5d5d;
  -fx-padding: 10px;
  -fx-text-fill: #ff3300;
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(one-pass-box, dimgray, 30, 0, 5, 5);
}

.popup-error-message:hover {
  -fx-cursor: hand;
}


/* Bottom Block */
#bottom-block {
  -fx-background-color: rgb(220,220,220);
  -fx-background-radius: 7px 7px 0 0;
}

#actions-block {
  /*-fx-background-color: #549cb9;*/
  -fx-spacing: 10px;
  -fx-padding: 10px;
}

#shuffle-btn {
  -fx-border-color: black;
  -fx-background-color: lightblue;
  -fx-font-weight: bold;
  -fx-font-size: 20px;
  -fx-text-alignment: center;
  -fx-text-fill: black;
  -fx-min-height: 50px;
  -fx-min-width: 60px;
  -fx-opacity: 1;
}

#shuffle-btn:hover {
  -fx-cursor: hand;
  -fx-opacity: 0.8;
}

#letters-block {
  /*-fx-background-color: #be965e;*/
  -fx-spacing: 10px;
  -fx-padding: 10px;
}

.letter-slot {
  -fx-background-color: #968345;
  -fx-background-radius: 7px;
}

.letter-slot-drag-entered {
  -fx-background-color: GREEN;
}

.letter-label {
  -fx-font-weight: bold;
  -fx-font-size: 20px;
  -fx-alignment: center;
  -fx-text-fill: black;
  -fx-wrap-text: true;
}

.points-label {
  -fx-font-size: 12px;
  -fx-alignment: center;
  -fx-text-fill: black;
  -fx-wrap-text: true;
}

.letter-btn {
  -fx-border-radius: 7px;
  -fx-background-radius: 7px;
  -fx-border-color: gray;
  -fx-background-color: #ffe480;
  /*-fx-padding: -5;*/
}

.letter-btn-hor-min {
  -fx-border-radius: 7px 0 0 7px;
  -fx-background-radius: 7px 0 0 7px;
  -fx-border-width: 1px 0 1px 1px;
}

.letter-btn-hor-mid {
  -fx-border-radius: 0;
  -fx-background-radius: 0;
  -fx-border-width: 1px 0 1px 0;
}

.letter-btn-hor-max {
  -fx-border-radius: 0 7px 7px 0;
  -fx-background-radius: 0 7px 7px 0;
  -fx-border-width: 1px 1px 1px 0;
}

.letter-btn-ver-min {
  -fx-border-radius: 7px 7px 0 0;
  -fx-background-radius: 7px 7px 0 0;
  -fx-border-width: 1px 1px 0 1px;
}

.letter-btn-ver-mid {
  -fx-border-radius: 0;
  -fx-background-radius: 0;
  -fx-border-width: 0 1px 0 1px;
}

.letter-btn-ver-max {
  -fx-border-radius: 0 0 7px 7px;
  -fx-background-radius: 0 0 7px 7px;
  -fx-border-width: 0 1px 1px 1px;
}

.letter-btn-mid {
  -fx-border-radius: 0;
  -fx-background-radius: 0;
  -fx-border-width: 0;
}

.letter-btn:hover {
  -fx-cursor: open-hand;
}

#ok-btn-block {
  /*-fx-background-color: #45a045;*/
  -fx-padding: 10px;
}

#ok-btn {
  -fx-border-color: black;
  -fx-background-color: lime;
  -fx-font-weight: bold;
  -fx-font-size: 20px;
  -fx-text-alignment: center;
  -fx-text-fill: black;
  -fx-min-width: 60px;
  -fx-min-height: 50px;
  -fx-pref-width: 80px;
  -fx-pref-height: 50px;
  -fx-opacity: 1;
}

#ok-btn:hover {
  -fx-cursor: hand;
  -fx-opacity: 0.8;
}

.line {
  -fx-fill: transparent;
  -fx-stroke-width: 5px;
  -fx-stroke: green;
  -fx-stroke-type: outside;
  -fx-stroke-line-join: round;
  -fx-stroke-line-cap: round;
}